body{

margin:0;

height:100vh;

overflow:hidden;

background:#1e1e1e;

color:white;

font-family:Consolas;

}



.toolbar{

height:45px;

background:#252526;

display:flex;

align-items:center;

gap:8px;

padding:5px;

}



button{

background:#007acc;

color:white;

border:0;

padding:7px;

}



#saveStatus{

margin-left:auto;

color:#4ec9b0;

}



.app{

display:flex;

height:calc(100vh - 45px);

}



#files{

width:230px;

background:#181818;

overflow:auto;

}



.file,
.folder{

padding:6px;

cursor:pointer;

}



.file:hover,
.folder:hover{

background:#333;

}



.main{

flex:1;

display:flex;

flex-direction:column;

}



#tabs{

height:40px;

display:flex;

background:#252526;

overflow:auto;

}



.tab{

padding:10px;

background:#2d2d2d;

border-right:1px solid #111;

cursor:pointer;

white-space:nowrap;

}



.tab.active{

background:#1e1e1e;

}



.close{

margin-left:10px;

}



#editor{

height:70%;

}



#preview{

height:30%;

border:0;

background:white;

}
